<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master.html}">

<div layout:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Edytuj mleko</h1>
    </div>

    <form th:action="@{'/admin/milks/' + ${milk.id} + '/edit'}" th:object="${milk}" method="post">

        <div class="mb-3 row">
            <label class="col-form-label col-sm-2 text-sm-end" for="form-name">Nazwa</label>
            <div class="col-sm-3">
                <input type="text" id="form-name" class="form-control" th:field="*{name}" th:value="*{name}"
                       th:classappend="${#fields.hasErrors('${milk.name}') ? 'is-invalid' : null}">
                <div class="invalid-feedback" th:errors="*{name}"></div>
            </div>
            <small class="col-sm-7 text-muted">Proszę wpisać nazwę bazy</small>
        </div>

        <div class="mb-3 row">
            <label class="col-form-label col-sm-2 text-sm-end" for="form-price">Cena</label>
            <div class="col-sm-3">
                <input type="text" id="form-price" class="form-control" th:field="*{price}" th:value="*{price}"
                       th:classappend="${#fields.hasErrors('${milk.price}') ? 'is-invalid' : null}">
                <div class="invalid-feedback" th:errors="*{price}"></div>
            </div>
            <small class="col-sm-7 text-muted">Proszę podać cene</small>
        </div>

        <div class="mb-3 row">
            <div class="offset-sm-2 col-sm-10">
                <div class="d-inline-block">
                    <button type="submit" class="btn btn-primary">Zapisz</button>
                </div>
                <div class="d-inline-block">
                    <a href="/admin/milks" class="btn btn-default">Wróć</a>
                </div>
            </div>
        </div>

    </form>


</div>
