<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master.html}">

<div layout:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2" th:text="${pageTitle}"></h1>
    </div>

    <form th:object="${milk}" method="post" enctype="multipart/form-data">

        <em th:replace="~{components/input :: input(
            name='name',
            label='Nazwa',
            hint='Prosze podać nazwę dodatku'
        )}"></em>

        <em th:replace="~{components/input :: input(
            name='price',
            label='Cena'
        )}"></em>

        <div class="mb-3 row">
            <label class="col-form-label col-sm-2 text-sm-end" for="image">Zdjęcie</label>
            <div class="col-sm-3">
                <input type="file" id="image" name="image" class="form-control" accept="image/png, image/jpeg">
                <div class="invalid-feedback" th:errors="*{file_path}"></div>
            </div>
            <small class="col-sm-7 text-muted">Dodaj zdjecie</small>
        </div>

        <div class="mb-3 row">
            <label class="col-form-label col-sm-2 text-sm-end" for="form-name">Kolor</label>
            <div class="col-sm-3">
                <input type="color" id="form-name" class="form-control" th:field="*{color}"
                       th:classappend="${#fields.hasErrors('${milk.color}') ? 'is-invalid' : null}">
                <div class="invalid-feedback" th:errors="*{color}"></div>
            </div>
            <small class="col-sm-7 text-muted" th:text="${'Podaj kolor dodatku'}"></small>
        </div>


        <em th:replace="~{components/formButtons :: buttons (name = 'milks')}"></em>

    </form>


</div>
